# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Uploads
uploads/
backend/uploads/

# Environment
.env
.env.*

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db